#background {

}

.results_container {
  position: absolute;
  height: 43em;
  width: 30em;
  top: 10em;
  left: 1em;
}

#recipes {
  left: 32em;
}
#list_results {
  position: relative;
  background-color: lightgrey;
  height: 40em;
  width: 30em;
  overflow: scroll;
}

#current_recipes {
  position: relative;
  background-color: lightgrey;
  height: 40em;
  width: 30em;
  overflow: scroll;
}

#recipe_ingredients {
  position: absolute;
  background-color: darkgrey;
  height: 40em;
  width: 30em;
  left: 63em;
  top: 10em;
}


#test {
  position: absolute;
  background-color: darkgrey;
  height: 10em;
  width: 30em;
  left: 32em;
  top: 51em;
}

