<p id="notice"><%= notice %></p>

<h1>Listing Public Images</h1>

<% @images.each do |image| %>
  <% if image.private == false %>
    <%= image_tag root_url + "/images/" + image.filename, size: "150x150", alt: image.filename %>
  <%end%>
<%end%>

<br>


<!--this needs to be shown if a user is logged in--!>
<%= link_to 'New Image', new_image_path %>
