#form {
  border-style: solid;
  width: 230px;
  float: left;
  text-align: center;
  border-top-style: groove;
}

#wrapper {
  float: left;
  width: 200px;
}

table {
  font-size: 18px;
}

th {
  border-style: solid;
}

td {
  border-width: 1px;
  border-style: solid;
}

#button {
  bottom: auto;
  border-color: grey;
  text-align: center;
  width: 50px;
  height: 18px;
  border-width: 4px;
  border-style: ridge;
  border-radius: 8px;
  float: left;
}

#button:hover {
  background-color: grey;
}

#link {
  border-style: none;
}

