/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: lightgrey;
}

#container {
    text-align: center;
}
a, figure {
    display: inline-block;
}
figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
}
figure {
    padding: 5px;
}
img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
img {
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
}

#tags {
  position: absolute;
  top: 60px;
  left: 100px;
}

#users {
  position: absolute;
  top: 60px;
  left: 1380px;
}

#user_box {
  display: block;
  border-collapse: collapse;
  border: 1px inset #b3b3b3;
}

#image_case {
  position: absolute;
  background-color: #b3b3b3;
  width: 500px;
  left: 660px;
  border-style: groove;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}

#links {
  position: relative;
  width: 504px;
  margin: 0 auto;
  border: 1px inset #b3b3b3;
  background-color: #b3b3b3;
  top: 430px;
  left: -18px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

table {
  font-size: 18px;
}

.image_style {
  display: block;
  margin: 0 auto;
}


